  
# Ignore everything
/*

# Except these files..
!.gitignore
!labrat_reyes/
!misc/
!small_scale_implementation/
!small_scale_implementation_baseline/



small_scale_implementation/*
small_scale_implementation_baseline/*
!small_scale_implementation/*.py
!small_scale_implementation/*.pt
!small_scale_implementation_baseline/*.py
!small_scale_implementation_baseline/*.pt


small_scale_implementation/state_encoder.py
!small_scale_implementation/temp_files/

small_scale_implementation/temp_files/*
!small_scale_implementation/temp_files/*.ipynb
!small_scale_implementation/temp_files/*.py
