  
# Ignore everything
/*

# Except these files..
!.gitignore
!labrat_reyes/
!misc/
!small_scale_implementation/
!small_scale_implementation_baseline/
!basiccnn_cifar
!early_bird_experiments/

#Ignore these folders

early_bird_experiments/data.cifar10
early_bird_experiments/data.cifar100
early_bird_experiments/baseline
early_bird_experiments/__pycache__
early_bird_experiments/*.json
early_bird_experiments/models/__pycache__
early_bird_experiments/optim/__pycache__
small_scale_implementation/*
small_scale_implementation_baseline/*
basiccnn_cifar/*


#Except for specific contents
!basiccnn_cifar/*.py
!basiccnn_cifar/*.pth
!small_scale_implementation/runs/*
!small_scale_implementation/*.py
!small_scale_implementation/*.pt
!small_scale_implementation/sgd_90_5th_epoch_v2.pth
!small_scale_implementation_baseline/*.py
!small_scale_implementation_baseline/*.pt
!small_scale_implementation_baseline/*.pth


small_scale_implementation/state_encoder.py
!small_scale_implementation/temp_files/

small_scale_implementation/temp_files/*
!small_scale_implementation/temp_files/*.ipynb
!small_scale_implementation/temp_files/*.py
